<div class="PathInner" id="PathMenu" style="">
  <div class="PathMain">
    <div class="Tmain" onclick="PathRun();">
      <div class="rotate"><span class="cover"></span></div>
    </div>
  </div>
  <div class="PathItem">
   <a class="link" href="#" title="更多图片"> 
    <span class="item" style="background-image:url(images/menu/moment_icn_pic.png);"></span>
   </a>
  </div>
  <div class="PathItem"> 
   <a class="link" href="#" title="详细参数"> 
    <span class="item" style="background-image:url(images/menu/moment_icn_info.png);"></span> 
   </a>
  </div>
  <div class="PathItem"> 
   <a class="link" href="#" title="玛百莉官方专卖店地址"> 
    <span class="item" style="background-image: url(images/menu/moment_icn_address.png);"></span> 
   </a>
  </div>
  <div class="PathItem"> 
   <a class="link" href="#"> 
    <span class="item" style="background-image: url(images/menu/moment_icn_price.png);"></span> 
   </a>
  </div>
</div>