*
  margin:0
  padding:0
  list-style-type:none

.PathMenu
  position:absolute
  right: 0px
  bottom: 0px
  width: 60px
  height: 60px

.PathInner
  position:relative
  width: 60px
  height: 60px
  
  .PathItem
    position:absolute
    left: 0px
    bottom: 0px
    .link
      position:absolute
      bottom:0
      left:0
      width: 60px
      height: 60px
      background-image: url("../images/menu/bg-item-2x.png")
      .item
        bottom:0
        left:0
  a
    display:block
    background-position:center
    background-repeat:no-repeat
    z-index:999
		
    .item, .rotate
      width:100%
      height:100%
      background-position:center
      background-repeat:no-repeat
      display:block
      overflow:hidden
      text-align:center
      vertical-align:middle
      position:absolute

  .PathMain
    z-index:1000
    position:absolute
    display:block/* overflow:hidden */
    background-position:center
    background-repeat:no-repeat
    bottom:0
    left:0

	  .Tmain
	    background-image: url("../images/menu/bg-2x.png")
	    width: 60px
	    height: 60px
    .rotate
      background-image: url("../images/menu/icon-2x.png")
      -moz-transform: rotate(0deg)
      position:absolute
      bottom:0
      left:0

  .cover
    width:100%
    height:100%
    display:block
    background:url("../images/menu/bg-hl-2x.png") center no-repeat
    cursor: pointer
    opacity:0
    -webkit-transition:opacity .2s ease-out
    -moz-transition:opacity .2s ease-out
    -ms-transition:opacity .2s ease-out
    -o-transition:opacity .2s ease-out
    &:hover
      opacity:0.2



.metaicondetail
  background:#fff
  color:#fff
  border-radius:6px
  border:1px #333 solid
  min-width:100px
  max-width:300px
  overflow:hidden
  text-align: center
  position:absolute
  display:none
  top:-115px
  left:-22px

  .inner
    border:2px #fff solid
    border-radius:6px
    background:#272727
    font-size:14px
    padding:5px

  span
    font-family:candara, arail
    font-size:18px

  s
    border-color:#333 transparent transparent
    border-style: solid dashed dashed
    border-width:5px
    clear: both
    display: inline-block
    font-size: 0
    height: 0
    margin-left:3px
    overflow: hidden
    position: absolute
    right:50%
    top:44px
    width:0